{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<div class="edit-shirt-container">
    <img src="{{ url_for('static', filename='shirt_img/' + shirt.thumbnail)}}" alt="", width="250", height="250">
<form method='POST' action="">
    {{form.hidden_tag()}}
    {{form.name.label()}}{{form.name}}
    <br>
    {{form.price.label()}}{{form.price}}
    <br>
    {{form.description.label}}
    <br>
    {{form.description}}
    <br>
    {{form.submit}}

</form>
</div>

{% endblock %}