@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lato:wght@700&display=swap');


/* START CSS colors */

:root {
  --primary-color: #303841;
  --secondary-color: #3A4750;
  --accent-color: #FF4E00;
  --background-color: #EEEEEE;
  --highlight-color: #1BCA9B;
  --text-color: #3A4750;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  font-family: 'Lato', sans-serif;
}

a {
  color: var(--accent-color);
}

button {
  background-color: var(--highlight-color);
  color: var(--background-color);
}

header, footer {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.navbar {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

/* END CSS colors*/

/* START CSS to remove after new CSS is implemented */

form input, form textarea {
    margin-bottom: 10px;
    margin-left: 10px;

}
label {
    margin-left: 5px;
}



.form-container {
    max-width: 600px;
} 

.int-container {
    max-width: 200px;
}

h1 {
    text-align: center;
}

/* END CSS to remove after new CSS is implemented */

/* Define a responsive grid layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
  }
  
  /* Define the style for each card */
  .card {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-title {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .card-price {
    color: #006400;
    font-size: 1.3em;
    margin: 0.5em 0;
  }
  
  .card-description {
    flex-grow: 1;
    color: #333;
    font-size: 0.9em;
  }
  

  /* START CSS for admin view */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
}

.shirt-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    transition: 0.3s;
}

.shirt-card:hover {
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
}

.shirt-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.shirt-card h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0.5em;
}

.shirt-card p {
    color: #777;
    margin-bottom: 1em;
}

.shirt-card button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.shirt-card button:hover {
    background: #0056b3;
}

/* END CSS for admin view */


/* START CSS for individual shirts */
.edit-shirt-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2em;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-shirt-container img {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  height: auto;
}

.edit-shirt-container form {
  display: grid;
  gap: 10px;
}

.edit-shirt-container form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.edit-shirt-container form input[type="text"], 
.edit-shirt-container form input[type="number"], 
.edit-shirt-container form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-shirt-container form button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.edit-shirt-container form button:hover {
  background-color: #0056b3;
}

.colorChoice {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #333
}

.color-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.color-row {
  display: flex;
  justify-content: space-around;  
  flex-wrap: nowrap;  
}
/* END CSS for individual shirts */


/* START CSS for hero image */
.hero-section {
  position: relative;
  width: 100%;
  height: 70vh; /* adjust this value as per your requirement */
  background: url("shirt_img/Screenshot8.png") center center/cover no-repeat; /* replace with your image path */
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff; 
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffffff;  /* color: var(--primary-color); */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ffffff; /* color: var(--primary-color); */
}

.hero-text a.hero-button {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--highlight-color);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.hero-text a.hero-button:hover {
  background-color: var(--secondary-color);
  color: #fff;
}
