{% extends 'base.html' %}

{% block content %}



<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<div class="edit-shirt-container">
    <img src="{{ url_for('static', filename='shirt_img/' + shirt.thumbnail)}}" alt="", width="250", height="250">
<form method='POST' action="">
    {{order_form.hidden_tag()}}
    {{order_form.shirt_size.label()}}{{order_form.shirt_size}}
    <br>
    {{order_form.shirt_style.label()}}{{order_form.shirt_style}}
    <br>
    {{order_form.shirt_fit.label}}
    
    {{order_form.shirt_fit}}
    <br>


    <label>Shirt Color</label>
<div class="color-row">
    {% for color in ['Red', 'Green', 'Blue', 'Black', 'White', 'Brown'] %}
<div class="color-container">
    <input type="radio" id="color-{{ loop.index }}" name="shirt_color" value="{{ color.lower() }}" required>
    <label for="color-{{ loop.index }}" class= "colorChoice"style="background-color: {{ color.lower() }}; width: 20px; height: 20px; display: inline-block;"></label>
</div>
{% endfor %}
</div>
<br>

{{order_form.submit}}


</form>
</div>

{% endblock %}